.robot-tile {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: white;
  border: 1px solid #D8DADB;
  box-shadow: 0px 9px 15px -9px rgba(0, 0, 0, 0.12);
  border-radius: 8px;
  padding: 25px;

  .create-robot-name-input {
    margin-bottom: 25px;
    width: 100%;
  }
  .MuiDropzoneArea-root {
    height: 208px;
    .MuiDropzoneArea-text {
      font-size: 12px;
    }
    .MuiDropzonePreviewList-imageContainer {
      padding: 0;
      margin-left: 10%;
      margin-top: -77px;
    }
  }
  .tile-header {
    width: 100%;
    height: 14%;
    h3 {
      text-align: center;
      font-size: 22px;
      margin-bottom: 45px;
      margin-top: 0;
    }
  }
  .tile-body {
    width: 100%;
    height: 82%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .robot-tile-image {
      width: 90%;
      height: 90%;
    }
  }
  .tile-footer {
    width: 100%;
    height: 12%;
    position: relative;

    .delete-button {
      width: 40%;
      position: absolute;
      right: 0;
      bottom: 0;
    }

    .vote-button {
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
    }
  }
  form {
    width: 100%;
    height: 100%;
    position: relative;

    .create-robot-clear-button {
      position: absolute;
      left: 0;
      bottom: 0;
    }

    .create-robot-add-button {
      text-align: right;
      position: absolute;
      width: 220px;
      right: 0;
      bottom: 0;
    }
  }
}