.robot-tile-container {
  display: grid;
  grid-template-rows: repeat(3, 530px);
  grid-template-columns: repeat(3, 397px);
  grid-auto-rows: 530px;
  grid-gap: 25px;
  margin: 0 auto;
}


@media only screen and (max-width: 1340px) {
  .robot-tile-container {
    grid-template-rows: repeat(2, 530px);
    grid-template-columns: repeat(2, 397px);
    padding: 0 20px;
  }

  .heading-container {
    width: auto;
  }
}

@media only screen and (max-width: 866px) {
  .robot-tile-container {
    grid-template-rows: repeat(1, 530px);
    grid-template-columns: repeat(1, 397px);
    padding: 0 10px;
    justify-content: center;
  }
}
